<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestReindexSSH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestReindexSSH.Properties.Creditals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestReindexSSH.Creditals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TestReindexSSH.Properties.Settings>
            <setting name="rememberme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wachtwoord" serializeAs="String">
                <value />
            </setting>
            <setting name="gebruikersnaam" serializeAs="String">
                <value />
            </setting>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
        </TestReindexSSH.Properties.Settings>
        <TestReindexSSH.Properties.Creditals>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="gebruikersnaam" serializeAs="String">
                <value />
            </setting>
            <setting name="wachtwoord" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberme" serializeAs="String">
                <value>False</value>
            </setting>
        </TestReindexSSH.Properties.Creditals>       
    </userSettings>
</configuration>